@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Student Database!</h1>
    <p>This website is an implementation of C# .Net Core with MYSQL implementation. More Changes will be added later.</p>
</div>
<div class="Changes-So-Far" style="padding-top: 10px" align="left">
    <h2>Changes so far:</h2>
    <p>Recently added a way to add more students to the database via the front end. Looks very basic but will style it later.</p>
</div>