@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>None of the data imported here, or any of your data wont be used other than this application. Its for education only.</h2>